
.nav-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  z-index: 100;
  margin-left: 120px;
  margin-right: 120px;
}

.navbar{
  background-color: #0e0d1af5;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 1280px;
  color: #33d978;
  transition: background-color .15s;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.562), 0 0 6px #33d978;
}
.navbar:hover{
  background-color: #0e0d1a;
}


.navbar a{
  display: flex;
  align-items: center;
}

.navbar p{
  font-family: Pacifico;
  font-size: 20px;
  margin:0px
}

.nav-container ul{
  padding: 0px;
  list-style: none;
  display: flex;

  justify-content: space-evenly;
  width: 30%;
  margin: 0px;
}
.nav-container ul li{
  font-family: Bungee, Poetsen One;

}
li:hover{
  text-decoration: underline;
  text-decoration-color: #33d978;
  text-decoration-thickness: 3px;
  animation: activeHover .15s;
}
@keyframes activeHover{
  0%{
    text-decoration: underline;
    text-decoration-color: #33d97800;
    text-decoration-thickness: 0px;
  }
  100%{
    text-decoration: underline;
    text-decoration-color: #33d978;
    text-decoration-thickness: 3px;
  }
}


.hamburger{
  display: none;
  position: fixed;
  right: 20px;
  top: 15px;
  z-index: 20;
}

.sidebar{
  display: none;
}

@media screen and (max-width:1060px){
  .nav-container{
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width:880px){
  .nav-container ul{
    width: 40%;
  }
}
@media screen and (max-width:700px){
  .nav-container{
    margin-left: 20px;
    margin-right: 20px;
  }
  .hamburger{
    cursor: pointer;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
  }
  
  .nav-container ul{
    display: none;
  }
  .sidebar{
    position: fixed;
    background-color: #0e0d1afd;
    top: -20px;

    bottom: -100vh;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    box-shadow: 0px 0px 10px var(--primary);
    font-family: Bungee, Poetsen One;
    transition: right 0.3s ease-in-out;
    right: -200%; 
    border: 1px inset rgba(255, 255, 255, 0.197);

    border-top-left-radius: 10px;
  }
  .sidebar.active {
    right: -40px; /* Slide it into view */
  }
.sidebar h1{
  border: 1px inset var(--primary);
  margin: 0px;
  padding: 10px;
}
}