.projects-container{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  
}


.cards-wrapper{

display: grid;
justify-content: center;
grid-template-columns: 1fr 1fr 1fr;

}


.card{

  background-color: #0e0d1a;
  color: rgb(255, 255, 255);
  border-radius: 12px;
   max-width: 400px;
  /*height: 715px; */
  
  box-shadow: inset 0 0 2px black, 0px 0px 10px -3px var(--primary);
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
 

}

.card .picture{
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  display: block;
  width: 400px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin: 0px;
  height: 300px;



}

.card-details{
  padding: 20px;

}
.card-name{
  font-size: 15px;
  margin-bottom: 15px;
  color: var(--primary);
  font-size: 25px;
  text-shadow: 1px 1px 0px rgb(2, 43, 4),2px 3px 2px rgb(0, 0, 0);
  font-family:Bungee, Poetsen One;
  margin: 0px;
}
.card-description{
  padding: 20px 0px;
  margin: 0px;
  font-family: 'Josefin Sans';
  font-size: 16px;
  line-height: 20px;
}
.stack-images{
  font-size: 25px;
  display: flex;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

}
.stack-images div{
  margin-right: 7px;

  display: flex;
 
}
.web-link{
  margin-right: 12px;
}



@media screen and (max-width:1340px) {
  .cards-wrapper{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:898px) {
  .cards-wrapper{
    grid-template-columns: 1fr;
  }
  .projects-container{
    margin: 0px;
  }
  .card{
     max-width: 590px;
  }
  .card .picture{
    width: 100%;

    height: 400px;
  
  }

}
@media screen and (max-width:490px){
  .card .picture{

    height: 270px;
  
  }
}