.tech-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.tech-logos{
  background-color: var(--primary);
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  width: 90%;
  max-width: 820px;
  
}



/* Custom Animation using AOS functionality*/
@keyframes wiggle {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-10deg);

  }
  50%{
    transform: rotate(5deg);

  }
  75%{
    transform: rotate(-5deg);

  }
  100%{
    transform: rotate(0deg);
  }
}

[data-aos="wiggle"] {
  opacity: 0;

  transition-property:opacity, width;
  &.aos-animate {
    opacity: 1;
    animation: wiggle 2s;
  }
}




@media screen and (max-width:765px) {
.tech-logos{
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 500px;

}

}

.technology{
  background-color: #000000d0;
  color: white;
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  font-size: 24px;
}
.tech-icon{
  /* color: var(--primary); */
  height: 25px;
}
.technology p{
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: Josefin sans;
  font-weight: bold;
}
