.tech-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tech-title{
  background-color: #1a1a24ea;
  padding: 10px 20px;
  font-size: 25px;
  color: var(--primary);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--primary);
  border: 1px solid var(--primary);
  margin: 20px 0px;
  
}
.tech-logos{
  background-color: var(--primary);
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  width: 100%;
  max-width: 700px;
}
.technology{
  background-color: #1a1a24ea;
  color: white;
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.tech-icon{
  color: var(--primary);
  height: 25px;
}
.technology p{
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}
