@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oxygen:wght@300;400;700&family=Pacifico&family=Poetsen+One&display=swap');

:root{
  --primary:#33d979;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #06090f;
  padding-bottom: 0px; 
  padding-top: 50px;
  overflow-x: hidden;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.section-title{
  background-color: #0e0d1a;
  padding: 5px 20px;
  font-size: 35px;
  color: var(--primary);
  border-radius: 10px;
  box-shadow: inset 0 0 4px var(--primary);
  border: 1px solid var(--primary);
  margin: 20px 0px;
  font-family:Bungee, Poetsen One;
  line-height: 50px;
  color: #33d979;
  display: flex;
  align-items: center;

}
.section-title p{
  margin: 0px;
  text-shadow: 1px 1px 0px rgb(2, 43, 4),2px 3px 0px rgb(0, 0, 0);
}

a{
  text-decoration: none;
  color: white;
}
a:visited{
  text-decoration: none;
  color: white;
}
